body {
  background-color:#fff1e6;
font-family: 'Raleway', sans-serif;
font-size: 20px;
line-height: 1.5;
color:#282425;
margin:0;

}

h1, h2, h3
{
   font-family: 'Playfair Display', serif;
   font-style: italic; 
   color: #756158
}
a
{
  font-style: italic;
   color: #756158 
}

.fotogalerie, .kontakt
{
    background-color: #f9e3d0;
}
.paticka, .menu
{
    background-color: #282425;
}
.paticka, .menu
{
    color: white;
    text-align: center
}
h1
{
    font-size: 80px;
    text-align: center;
    color: white;
    margin: 0;
}
h2
{font-size: 48px;
    text-align: center;
    margin-top: 0;
}

h3
{font-size: 24px;
    margin-top: 36px;
}
.paticka
{padding: 20px 0;}
section
{padding: 50px 15%;}

.menu
{margin: 0;
padding: 0;}

.foto-omne {
    width: 200px;
    border-radius: 50%;
    float: left;
    margin: 0 30px 30px 0;
}
/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/
